/* *{
  margin: 0;
  padding: 0;
}
.home-container{
  
    background:url("https://images.unsplash.com/photo-1610878180933-123728745d22?ixid=MnwxMjA3fDB8MHxzZWyY2h8MXx8Y2FuYWRhJTIwbmF0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    height: 135vh;
    width:100%; 
    background-repeat:no-repeat;
    background-size:cover; 
    box-sizing: border-box;
    color: white;
    

    
} */





   /* .footer{
     height: 15vh;
    width: 100%;
    background-color: black ;



   } */
   /* .home-container{height: 70vh; */
   /* } */
   
